.main_nav {
    display: flex;
    justify-content: space-between;
    margin-inline: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 100px;
}

.ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.ul li {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.ul a:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 20px;
}

.ul a {
    color: black;
    text-decoration: none;
}

.ul a:hover {
    color: rgb(116, 146, 211);
    cursor: pointer;
}

.cart:hover {
    cursor: pointer;
    color: rgb(116, 146, 211);
}

.cart li {
    margin-left: 0 !important;
}

/* optimize for mobile */
