.about_us_banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.about_us_main {
    margin-inline: 80px;
}

.about_us_blurb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about_us_heading {
    font-size: 24px;
    font-weight: 600;
}
