.contact_us_main_form {
    margin-inline: 80px;
    padding-bottom: 20px;
}

.input_label_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.input_label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_label label {
    font-size: 18px;
    font-weight: 600;
}

.input_label input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: 2px 5px 8px rgb(211, 211, 211);
}

.input_textarea {
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 5px 8px rgb(211, 211, 211);
}

.form_button_div {
    display: flex;
    justify-content: center;
}

.form_button {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(175, 175, 175);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 2px 5px 8px rgb(211, 211, 211);
    font-weight: bold;
}

.form_button:hover {
    cursor: pointer;
    background-color: rgb(116, 146, 211);
    color: white;
}

/* optimize for mobile */
