.collection_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 100px;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.width_100 {
    width: 100%;
}

.cat_div {
    position: relative;
    overflow: hidden;
}

.img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.cat_div:hover .img {
    transform: scale(1.1);
    filter: brightness(0.7);
}

.cat_div:hover {
    cursor: pointer;
}

.cat_div:hover p {
    margin-top: 2px;
    border-bottom: 3px solid white;
}

.cat_div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    font-size: 50px;
}
